---
layout: default
---

<main class="grid list">
    <section class="grid-xs-s-1-1 grid-m-xl-2-3">
        <div class="page-content">
            {{ content }}
        </div>
    </section>

    <aside class="grid-xs-s-1-1 grid-m-xl-1-3">
        <div class="about">
            <h2>About The Unicorn Kitchen</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis commodo mauris arcu, sed scelerisque lectus ultrices egestas. Sed semper pretium nulla, ac ornare diam aliquet nec. Phasellus eget euismod tortor. Nam et massa orci. Donec vestibulum at neque quis sollicitudin. Nullam posuere nibh nec odio posuere consectetur. Donec sed felis molestie, iaculis neque et, rhoncus ante. In at libero vulputate, venenatis orci ac, varius dui. Fusce viverra sapien ipsum, placerat venenatis nulla placerat non. Aenean quis eros nisi. Pellentesque viverra pharetra ipsum, vulputate malesuada libero volutpat vel. Vestibulum et mollis tellus.</p>

            <p>Fusce vel ultrices velit. Etiam leo dolor, placerat vitae est at, laoreet facilisis nibh. Morbi facilisis dui sed ex venenatis, at consequat sem scelerisque. Donec sit amet odio at tortor congue cursus. Duis id ex facilisis, aliquet est et, mollis nibh. Curabitur nec tortor sollicitudin, varius nunc vel, maximus quam. Maecenas tincidunt posuere lacinia. Praesent dignissim, velit non ultrices volutpat, lacus justo posuere neque, ut pulvinar odio enim pretium libero. Curabitur sem quam, porta at odio in, aliquam gravida arcu. Duis ac massa aliquam, tincidunt nisi in, eleifend velit. Donec et mauris sed nisi pretium ultrices.</p>
        </div>

        <div class="twitter-container hide-xs-s">
            <a class="twitter-timeline" data-tweet-limit="5" data-lang="en" data-dnt="true" data-theme="light" href="https://twitter.com/DebbiePearson86?ref_src=twsrc%5Etfw">Tweets by DebbiePearson86</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </aside>
</main>

{% include footer.html %}
